### Analytics Vidhya : 54.77%

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv("output.csv")

In [4]:
df

,Unnamed: 0,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,...,center_type_TYPE_A,center_type_TYPE_B,center_type_TYPE_C,Quarter_Q1,Quarter_Q2,Quarter_Q3,Quarter_Q4,Year_Y1,Year_Y2,Year_Y3
0,0,1,55,1885,136.83,152.29,0,0,5.176150,647,...,0,0,1,1,0,0,0,1,0,0
1,1,1,55,1993,136.83,135.83,0,0,5.598422,647,...,0,0,1,1,0,0,0,1,0,0
2,2,1,55,2539,134.86,135.86,0,0,5.241747,647,...,0,0,1,1,0,0,0,1,0,0
3,3,1,55,2139,339.50,437.53,0,0,3.988984,647,...,0,0,1,1,0,0,0,1,0,0
4,4,1,55,2631,243.50,242.50,0,0,3.688879,647,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,456543,145,61,1543,484.09,484.09,0,0,4.219508,473,...,1,0,0,0,0,0,1,0,0,1
456544,456544,145,61,2304,482.09,482.09,0,0,3.737670,473,...,1,0,0,0,0,0,1,0,0,1
456545,456545,145,61,2664,237.68,321.07,0,0,6.216606,473,...,1,0,0,0,0,0,1,0,0,1
456546,456546,145,61,2569,243.50,313.34,0,0,6.591674,473,...,1,0,0,0,0,0,1,0,0,1
456547,456547,145,61,2490,292.03,290.03,0,0,5.087596,473,...,1,0,0,0,0,0,1,0,0,1

In [5]:
df = df.drop("Unnamed: 0", axis=1)

In [6]:
df

,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,...,center_type_TYPE_A,center_type_TYPE_B,center_type_TYPE_C,Quarter_Q1,Quarter_Q2,Quarter_Q3,Quarter_Q4,Year_Y1,Year_Y2,Year_Y3
0,1,55,1885,136.83,152.29,0,0,5.176150,647,56,...,0,0,1,1,0,0,0,1,0,0
1,1,55,1993,136.83,135.83,0,0,5.598422,647,56,...,0,0,1,1,0,0,0,1,0,0
2,1,55,2539,134.86,135.86,0,0,5.241747,647,56,...,0,0,1,1,0,0,0,1,0,0
3,1,55,2139,339.50,437.53,0,0,3.988984,647,56,...,0,0,1,1,0,0,0,1,0,0
4,1,55,2631,243.50,242.50,0,0,3.688879,647,56,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,145,61,1543,484.09,484.09,0,0,4.219508,473,77,...,1,0,0,0,0,0,1,0,0,1
456544,145,61,2304,482.09,482.09,0,0,3.737670,473,77,...,1,0,0,0,0,0,1,0,0,1
456545,145,61,2664,237.68,321.07,0,0,6.216606,473,77,...,1,0,0,0,0,0,1,0,0,1
456546,145,61,2569,243.50,313.34,0,0,6.591674,473,77,...,1,0,0,0,0,0,1,0,0,1
456547,145,61,2490,292.03,290.03,0,0,5.087596,473,77,...,1,0,0,0,0,0,1,0,0,1

In [7]:
X = df.drop("num_orders", axis=1)  # X variable has the all the features except num_orders which is target column
y = df['num_orders'] # num_order is the target column so, y is the target variable

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [10]:
X_train

,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,city_code,region_code,op_area,...,center_type_TYPE_A,center_type_TYPE_B,center_type_TYPE_C,Quarter_Q1,Quarter_Q2,Quarter_Q3,Quarter_Q4,Year_Y1,Year_Y2,Year_Y3
57966,21,152,1109,259.99,305.58,0,0,576,34,4.0,...,0,1,0,0,1,0,0,1,0,0
256081,84,174,2631,154.26,154.26,0,0,700,56,7.0,...,1,0,0,0,0,1,0,0,1,0
161688,55,93,1902,389.03,486.03,0,0,461,34,3.9,...,1,0,0,1,0,0,0,0,1,0
444281,142,99,2581,459.84,640.23,1,1,596,71,4.5,...,1,0,0,0,0,1,0,0,0,1
41627,15,50,2760,198.91,232.83,0,1,556,77,4.8,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73349,26,177,1216,416.13,416.13,0,0,683,56,3.4,...,1,0,0,0,0,1,0,1,0,0
371403,120,13,1543,388.03,472.39,0,0,590,56,6.7,...,0,1,0,0,1,0,0,0,0,1
312201,101,39,1778,152.29,161.08,1,0,526,34,3.8,...,0,0,1,0,0,0,1,0,1,0
267336,88,57,1878,280.33,282.33,0,0,541,77,2.8,...,0,0,1,0,0,1,0,0,1,0
128037,44,92,1230,316.22,317.22,0,0,526,34,2.9,...,0,0,1,0,0,0,1,1,0,0

In [11]:
y

0         5.176150
1         5.598422
2         5.241747
3         3.988984
4         3.688879
            ...
456543    4.219508
456544    3.737670
456545    6.216606
456546    6.591674
456547    5.087596
Name: num_orders, Length: 456548, dtype: float64

In [12]:
y1 = np.exp(y)

In [13]:
y1

0         177.0
1         270.0
2         189.0
3          54.0
4          40.0
          ...
456543     68.0
456544     42.0
456545    501.0
456546    729.0
456547    162.0
Name: num_orders, Length: 456548, dtype: float64

In [14]:
from xgboost import XGBRegressor

In [15]:
model = XGBRegressor()

In [16]:
model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [17]:
y_pred = model.predict(X_test)

In [18]:
accuracy4 = round(model.score(X_train, y_train)*100,2)
print("Train Accuracy :",round(accuracy4, 2), '%')

Train Accuracy : 83.73 %

In [19]:
accuracy4 = round(model.score(X_test, y_test)*100,2)
print("Test Accuracy :",round(accuracy4, 2), '%')

Test Accuracy : 83.11 %

In [20]:
from sklearn.metrics import mean_squared_log_error

print('RMSLE :',np.sqrt(mean_squared_log_error(y_test,y_pred)))

RMSLE : 0.09811294702558451

In [21]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.8311054012623804

In [22]:
from sklearn.metrics import mean_squared_log_error

print('RMSLE :',100*np.sqrt(mean_squared_log_error(y_test,y_pred)))

RMSLE : 9.81129470255845

# ------------------------------Hyper Parameter Tuning---------------------------------

In [23]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import xgboost as xgb
from xgboost.sklearn import XGBRegressor
import datetime
from sklearn.model_selection import GridSearchCV

In [24]:
df

,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,...,center_type_TYPE_A,center_type_TYPE_B,center_type_TYPE_C,Quarter_Q1,Quarter_Q2,Quarter_Q3,Quarter_Q4,Year_Y1,Year_Y2,Year_Y3
0,1,55,1885,136.83,152.29,0,0,5.176150,647,56,...,0,0,1,1,0,0,0,1,0,0
1,1,55,1993,136.83,135.83,0,0,5.598422,647,56,...,0,0,1,1,0,0,0,1,0,0
2,1,55,2539,134.86,135.86,0,0,5.241747,647,56,...,0,0,1,1,0,0,0,1,0,0
3,1,55,2139,339.50,437.53,0,0,3.988984,647,56,...,0,0,1,1,0,0,0,1,0,0
4,1,55,2631,243.50,242.50,0,0,3.688879,647,56,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,145,61,1543,484.09,484.09,0,0,4.219508,473,77,...,1,0,0,0,0,0,1,0,0,1
456544,145,61,2304,482.09,482.09,0,0,3.737670,473,77,...,1,0,0,0,0,0,1,0,0,1
456545,145,61,2664,237.68,321.07,0,0,6.216606,473,77,...,1,0,0,0,0,0,1,0,0,1
456546,145,61,2569,243.50,313.34,0,0,6.591674,473,77,...,1,0,0,0,0,0,1,0,0,1
456547,145,61,2490,292.03,290.03,0,0,5.087596,473,77,...,1,0,0,0,0,0,1,0,0,1

In [25]:
X = df.drop("num_orders", axis=1)  # X variable has the all the features except num_orders which is target column
y = df['num_orders'] # num_order is the target column so, y is the target variable

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [27]:
xgb1 = XGBRegressor()
parameters = {'nthread':[4], #when use hyperthread, xgboost may become slower
              'objective':['reg:linear'],
              'learning_rate': [.03, 0.05, .07], #so called `eta` value
              'max_depth': [5, 6, 7],
              'min_child_weight': [4],
              'silent': [1],
              'subsample': [0.7],
              'colsample_bytree': [0.7],
              'n_estimators': [500]}

In [28]:
xgb_grid = GridSearchCV(xgb1,
                        parameters,
                        cv = 2,
                        n_jobs = 5,
                        verbose=True)

In [29]:
xgb_grid.fit(X_train, y_train)

Fitting 2 folds for each of 9 candidates, totalling 18 fits
[18:28:14] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[18:28:14] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.2.0\src\learner.cc:516:
Parameters: { silent } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[18:32:25] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.

GridSearchCV(cv=2,
             estimator=XGBRegressor(base_score=None, booster=None,
                                    colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None, gamma=None,
                                    gpu_id=None, importance_type='gain',
                                    interaction_constraints=None,
                                    learning_rate=None, max_delta_step=None,
                                    max_depth=None, min_child_weight=None,
                                    missing=nan, monotone_constraints=None,
                                    n_estimators=100, n_jobs=...
                                    reg_alpha=None, reg_lambda=None,
                                    scale_pos_weight=None, subsample=None,
                                    tree_method=None, validate_parameters=None,
                                    verbosity=None),
             n_jobs=5,
             param_grid={'colsample_bytree': [0.7],
                         'learning_rate': [0.03, 0.05, 0.07],
                         'max_depth': [5, 6, 7], 'min_child_weight': [4],
                         'n_estimators': [500], 'nthread': [4],
                         'objective': ['reg:linear'], 'silent': [1],
                         'subsample': [0.7]},
             verbose=True)

In [30]:
print(xgb_grid.best_score_)
print(xgb_grid.best_params_)

0.8428557191359853
{'colsample_bytree': 0.7, 'learning_rate': 0.07, 'max_depth': 7, 'min_child_weight': 4, 'n_estimators': 500, 'nthread': 4, 'objective': 'reg:linear', 'silent': 1, 'subsample': 0.7}

In [32]:
reg = XGBRegressor(nthread= 4,
              objective='reg:linear',
              learning_rate= 0.07, 
              max_depth= 7,
              min_child_weight =4,
              silent = 1,
              subsample = 0.7,
              colsample_bytree = 0.7,
              n_estimators = 500)

In [33]:
reg.fit(X_train, y_train)

[19:38:54] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[19:38:54] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.2.0\src\learner.cc:516:
Parameters: { silent } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[19:44:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.7, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.07, max_delta_step=0, max_depth=7,
             min_child_weight=4, missing=nan, monotone_constraints='()',
             n_estimators=500, n_jobs=4, nthread=4, num_parallel_tree=1,
             objective='reg:linear', random_state=0, reg_alpha=0, reg_lambda=1,
             scale_pos_weight=1, silent=1, subsample=0.7, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [34]:
y_pred5 = reg.predict(X_test)

In [36]:
accuracy5 = round(reg.score(X_train, y_train)*100,2)
print(round(accuracy5, 2), '%')

85.86 %

In [37]:
accuracy5 = round(reg.score(X_test, y_test)*100,2)
print(round(accuracy5, 2), '%')

84.77 %

In [39]:
from sklearn.metrics import mean_squared_log_error

In [40]:
print('RMSLE :',np.sqrt(mean_squared_log_error(y_test,y_pred)))

RMSLE : 0.09811294702558451

In [41]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.8311054012623804

### ----------------------------------------------------------------- Testing Data----------------------------------------------------------------------------

In [42]:
test_data = pd.read_csv("test_output.csv")

In [43]:
test_data.shape

(32573, 41)

In [45]:
test_data

,Unnamed: 0,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,city_code,region_code,...,center_type_TYPE_A,center_type_TYPE_B,center_type_TYPE_C,Quarter_Q1,Quarter_Q2,Quarter_Q3,Quarter_Q4,Year_Y1,Year_Y2,Year_Y3
0,0,146,55,1885,158.11,159.11,0,0,647,56,...,0,0,1,0,0,0,1,0,0,1
1,1,146,55,1993,160.11,159.11,0,0,647,56,...,0,0,1,0,0,0,1,0,0,1
2,2,146,55,2539,157.14,159.14,0,0,647,56,...,0,0,1,0,0,0,1,0,0,1
3,3,146,55,2631,162.02,162.02,0,0,647,56,...,0,0,1,0,0,0,1,0,0,1
4,4,146,55,1248,163.93,163.93,0,0,647,56,...,0,0,1,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32568,32568,155,61,1543,482.09,484.09,0,0,473,77,...,1,0,0,0,0,0,1,0,0,1
32569,32569,155,61,2304,483.09,483.09,0,0,473,77,...,1,0,0,0,0,0,1,0,0,1
32570,32570,155,61,2664,322.07,323.07,0,0,473,77,...,1,0,0,0,0,0,1,0,0,1
32571,32571,155,61,2569,322.07,323.07,0,0,473,77,...,1,0,0,0,0,0,1,0,0,1
32572,32572,155,61,2490,276.45,276.45,0,0,473,77,...,1,0,0,0,0,0,1,0,0,1

In [47]:
test_data = test_data.drop('Unnamed: 0', axis =1)

In [48]:
test_data

,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,city_code,region_code,op_area,...,center_type_TYPE_A,center_type_TYPE_B,center_type_TYPE_C,Quarter_Q1,Quarter_Q2,Quarter_Q3,Quarter_Q4,Year_Y1,Year_Y2,Year_Y3
0,146,55,1885,158.11,159.11,0,0,647,56,2.0,...,0,0,1,0,0,0,1,0,0,1
1,146,55,1993,160.11,159.11,0,0,647,56,2.0,...,0,0,1,0,0,0,1,0,0,1
2,146,55,2539,157.14,159.14,0,0,647,56,2.0,...,0,0,1,0,0,0,1,0,0,1
3,146,55,2631,162.02,162.02,0,0,647,56,2.0,...,0,0,1,0,0,0,1,0,0,1
4,146,55,1248,163.93,163.93,0,0,647,56,2.0,...,0,0,1,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32568,155,61,1543,482.09,484.09,0,0,473,77,4.5,...,1,0,0,0,0,0,1,0,0,1
32569,155,61,2304,483.09,483.09,0,0,473,77,4.5,...,1,0,0,0,0,0,1,0,0,1
32570,155,61,2664,322.07,323.07,0,0,473,77,4.5,...,1,0,0,0,0,0,1,0,0,1
32571,155,61,2569,322.07,323.07,0,0,473,77,4.5,...,1,0,0,0,0,0,1,0,0,1
32572,155,61,2490,276.45,276.45,0,0,473,77,4.5,...,1,0,0,0,0,0,1,0,0,1

In [49]:
test_pred = reg.predict(test_data)

In [50]:
test_pred

array([5.297393 , 5.0181923, 4.5251994, ..., 5.6239867, 5.6784716,
       5.1908703], dtype=float32)

In [51]:
test_pred1 = np.exp(test_pred)

In [52]:
test_pred1

array([199.81519, 151.13785,  92.31433, ..., 276.9915 , 292.502  ,
       179.62482], dtype=float32)

In [53]:
dataframe = pd.read_csv("test.csv")

In [54]:
Result=pd.DataFrame(test_pred1)
#Result=np.expm1(Result).astype('int64')
Submission = pd.DataFrame(columns=['id', 'num_orders'])
Submission['id'] = dataframe['id']
Submission['num_orders'] = Result.values
Submission.to_csv('Submission_XGBoost_hyperparameter.csv', index=False)