### Analytics Vidhya: 54.67

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv("output.csv")

KeyboardInterrupt:

In [ ]:
df

In [ ]:
df = df.drop("Unnamed: 0", axis=1)

In [ ]:
df

In [ ]:
X = df.drop("num_orders", axis=1)  # X variable has the all the features except num_orders which is target column
y = df['num_orders'] # num_order is the target column so, y is the target variable

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [ ]:
X_train

In [ ]:
y

In [ ]:
y1 = np.exp(y)

In [ ]:
y1

In [ ]:
from xgboost import XGBRegressor

In [ ]:
model = XGBRegressor()

In [16]:
model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [17]:
y_pred = model.predict(X_test)

In [18]:
accuracy4 = round(model.score(X_train, y_train)*100,2)
print("Train Accuracy :",round(accuracy4, 2), '%')

Train Accuracy : 83.73 %

In [19]:
accuracy4 = round(model.score(X_test, y_test)*100,2)
print("Test Accuracy :",round(accuracy4, 2), '%')

Test Accuracy : 83.11 %

In [20]:
from sklearn.metrics import mean_squared_log_error

print('RMSLE :',np.sqrt(mean_squared_log_error(y_test,y_pred)))

RMSLE : 0.09811294702558451

In [21]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.8311054012623804

In [22]:
from sklearn.metrics import mean_squared_log_error

print('RMSLE :',100*np.sqrt(mean_squared_log_error(y_test,y_pred)))

RMSLE : 9.81129470255845

# ------------------------------Hyper Parameter Tuning---------------------------------

In [15]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import xgboost as xgb
from xgboost.sklearn import XGBRegressor
import datetime
from sklearn.model_selection import GridSearchCV

In [16]:
df

,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,...,center_type_TYPE_A,center_type_TYPE_B,center_type_TYPE_C,Quarter_Q1,Quarter_Q2,Quarter_Q3,Quarter_Q4,Year_Y1,Year_Y2,Year_Y3
0,1,55,1885,136.83,152.29,0,0,5.176150,647,56,...,0,0,1,1,0,0,0,1,0,0
1,1,55,1993,136.83,135.83,0,0,5.598422,647,56,...,0,0,1,1,0,0,0,1,0,0
2,1,55,2539,134.86,135.86,0,0,5.241747,647,56,...,0,0,1,1,0,0,0,1,0,0
3,1,55,2139,339.50,437.53,0,0,3.988984,647,56,...,0,0,1,1,0,0,0,1,0,0
4,1,55,2631,243.50,242.50,0,0,3.688879,647,56,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,145,61,1543,484.09,484.09,0,0,4.219508,473,77,...,1,0,0,0,0,0,1,0,0,1
456544,145,61,2304,482.09,482.09,0,0,3.737670,473,77,...,1,0,0,0,0,0,1,0,0,1
456545,145,61,2664,237.68,321.07,0,0,6.216606,473,77,...,1,0,0,0,0,0,1,0,0,1
456546,145,61,2569,243.50,313.34,0,0,6.591674,473,77,...,1,0,0,0,0,0,1,0,0,1
456547,145,61,2490,292.03,290.03,0,0,5.087596,473,77,...,1,0,0,0,0,0,1,0,0,1

In [17]:
X = df.drop("num_orders", axis=1)  # X variable has the all the features except num_orders which is target column
y = df['num_orders'] # num_order is the target column so, y is the target variable

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [19]:
xgb1 = XGBRegressor()
params = {'min_child_weight':[4,5], 'gamma':[i/10.0 for i in range(3,6)],  'subsample':[i/10.0 for i in range(6,11)],
'colsample_bytree':[i/10.0 for i in range(6,11)], 'max_depth': [2,3,4]}

In [20]:
xgb_grid = GridSearchCV(xgb1,
                        params,
                        cv = 2,
                        n_jobs = 5,
                        verbose=True)

In [21]:
xgb_grid.fit(X_train, y_train)

Fitting 2 folds for each of 450 candidates, totalling 900 fits

GridSearchCV(cv=2,
             estimator=XGBRegressor(base_score=None, booster=None,
                                    colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None, gamma=None,
                                    gpu_id=None, importance_type='gain',
                                    interaction_constraints=None,
                                    learning_rate=None, max_delta_step=None,
                                    max_depth=None, min_child_weight=None,
                                    missing=nan, monotone_constraints=None,
                                    n_estimators=100, n_jobs=None,
                                    num_parallel_tree=None, random_state=None,
                                    reg_alpha=None, reg_lambda=None,
                                    scale_pos_weight=None, subsample=None,
                                    tree_method=None, validate_parameters=None,
                                    verbosity=None),
             n_jobs=5,
             param_grid={'colsample_bytree': [0.6, 0.7, 0.8, 0.9, 1.0],
                         'gamma': [0.3, 0.4, 0.5], 'max_depth': [2, 3, 4],
                         'min_child_weight': [4, 5],
                         'subsample': [0.6, 0.7, 0.8, 0.9, 1.0]},
             verbose=True)

In [22]:
print(xgb_grid.best_score_)
print(xgb_grid.best_params_)

0.7983695698274165
{'colsample_bytree': 1.0, 'gamma': 0.3, 'max_depth': 4, 'min_child_weight': 5, 'subsample': 0.8}

In [24]:
reg = XGBRegressor(nthread= 4,
              objective='reg:linear',
              learning_rate= 0.07, 
              max_depth= 7,
              min_child_weight =6,
              silent = 1,
              subsample = 0.8,
              colsample_bytree = 1,
              n_estimators = 500,
                  gamma = 0.3)

In [25]:
reg.fit(X_train, y_train)

[01:47:49] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[01:47:49] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.2.0\src\learner.cc:516:
Parameters: { silent } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[01:53:32] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0.3, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.07, max_delta_step=0, max_depth=7,
             min_child_weight=6, missing=nan, monotone_constraints='()',
             n_estimators=500, n_jobs=4, nthread=4, num_parallel_tree=1,
             objective='reg:linear', random_state=0, reg_alpha=0, reg_lambda=1,
             scale_pos_weight=1, silent=1, subsample=0.8, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [26]:
y_pred5 = reg.predict(X_test)

In [27]:
accuracy5 = round(reg.score(X_train, y_train)*100,2)
print(round(accuracy5, 2), '%')

85.96 %

In [28]:
accuracy5 = round(reg.score(X_test, y_test)*100,2)
print(round(accuracy5, 2), '%')

84.81 %

In [29]:
from sklearn.metrics import mean_squared_log_error

In [31]:
print('RMSLE :',np.sqrt(mean_squared_log_error(y_test,y_pred5)))

RMSLE : 0.0940123280675424

In [33]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred5)

0.8481198657053582

### ----------------------------------------------------------------- Testing Data----------------------------------------------------------------------------

In [34]:
test_data = pd.read_csv("test_output.csv")

In [35]:
test_data.shape

(32573, 41)

In [36]:
test_data

,Unnamed: 0,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,city_code,region_code,...,center_type_TYPE_A,center_type_TYPE_B,center_type_TYPE_C,Quarter_Q1,Quarter_Q2,Quarter_Q3,Quarter_Q4,Year_Y1,Year_Y2,Year_Y3
0,0,146,55,1885,158.11,159.11,0,0,647,56,...,0,0,1,0,0,0,1,0,0,1
1,1,146,55,1993,160.11,159.11,0,0,647,56,...,0,0,1,0,0,0,1,0,0,1
2,2,146,55,2539,157.14,159.14,0,0,647,56,...,0,0,1,0,0,0,1,0,0,1
3,3,146,55,2631,162.02,162.02,0,0,647,56,...,0,0,1,0,0,0,1,0,0,1
4,4,146,55,1248,163.93,163.93,0,0,647,56,...,0,0,1,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32568,32568,155,61,1543,482.09,484.09,0,0,473,77,...,1,0,0,0,0,0,1,0,0,1
32569,32569,155,61,2304,483.09,483.09,0,0,473,77,...,1,0,0,0,0,0,1,0,0,1
32570,32570,155,61,2664,322.07,323.07,0,0,473,77,...,1,0,0,0,0,0,1,0,0,1
32571,32571,155,61,2569,322.07,323.07,0,0,473,77,...,1,0,0,0,0,0,1,0,0,1
32572,32572,155,61,2490,276.45,276.45,0,0,473,77,...,1,0,0,0,0,0,1,0,0,1

In [37]:
test_data = test_data.drop('Unnamed: 0', axis =1)

In [38]:
test_data

,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,city_code,region_code,op_area,...,center_type_TYPE_A,center_type_TYPE_B,center_type_TYPE_C,Quarter_Q1,Quarter_Q2,Quarter_Q3,Quarter_Q4,Year_Y1,Year_Y2,Year_Y3
0,146,55,1885,158.11,159.11,0,0,647,56,2.0,...,0,0,1,0,0,0,1,0,0,1
1,146,55,1993,160.11,159.11,0,0,647,56,2.0,...,0,0,1,0,0,0,1,0,0,1
2,146,55,2539,157.14,159.14,0,0,647,56,2.0,...,0,0,1,0,0,0,1,0,0,1
3,146,55,2631,162.02,162.02,0,0,647,56,2.0,...,0,0,1,0,0,0,1,0,0,1
4,146,55,1248,163.93,163.93,0,0,647,56,2.0,...,0,0,1,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32568,155,61,1543,482.09,484.09,0,0,473,77,4.5,...,1,0,0,0,0,0,1,0,0,1
32569,155,61,2304,483.09,483.09,0,0,473,77,4.5,...,1,0,0,0,0,0,1,0,0,1
32570,155,61,2664,322.07,323.07,0,0,473,77,4.5,...,1,0,0,0,0,0,1,0,0,1
32571,155,61,2569,322.07,323.07,0,0,473,77,4.5,...,1,0,0,0,0,0,1,0,0,1
32572,155,61,2490,276.45,276.45,0,0,473,77,4.5,...,1,0,0,0,0,0,1,0,0,1

In [39]:
test_pred = reg.predict(test_data)

In [40]:
test_pred

array([5.4436526, 4.9737544, 4.7128854, ..., 5.476879 , 5.599065 ,
       5.0731683], dtype=float32)

In [41]:
test_pred1 = np.exp(test_pred)

In [42]:
test_pred1

array([231.28545, 144.56863, 111.37305, ..., 239.09933, 270.17365,
       159.67943], dtype=float32)

In [43]:
dataframe = pd.read_csv("test.csv")

In [44]:
Result=pd.DataFrame(test_pred1)
#Result=np.expm1(Result).astype('int64')
Submission = pd.DataFrame(columns=['id', 'num_orders'])
Submission['id'] = dataframe['id']
Submission['num_orders'] = Result.values
Submission.to_csv('Submission_XGBoost_hyperparameter2.csv', index=False)